package ${packageName}.model;

import android.content.ContentValues;
import android.content.Context;
import android.database.Cursor;
import com.google.gson.annotations.SerializedName;

import ${packageName}.database.table.${tableName}Table;
#if( $participatingExternalRelationships )
#foreach( $relationship in $participatingExternalRelationships )
#set( $foreignClassName = $relationship.getRightTableClassName() )
#if( $foreignClassName )
import ${packageName}.database.table.${foreignClassName}Table;
#end
#end
#end
import ${packageName}.provider.${providerName}Provider;

import java.util.ArrayList;
import java.util.List;

public class ${tableName} {
    private long mRowId;
#foreach( $field in $fields )
#if($field)

    @SerializedName("$field.getFieldName()")
    private ${field.getJavaTypeString()} ${field.getPrivateVariableName()};
#end
#end

#if( $participatingRelationships )
#foreach( $relationship in $participatingRelationships )
#set( $foreignKey = $relationship.getForeignKeyPrivateVariableNameForTable($table) )
#if( $foreignKey )
    private Long ${foreignKey};
#end
#end
#end

    private ContentValues mValues = new ContentValues();

    public ${tableName}() {}

    public ${tableName}(final Cursor cursor) {
        this(cursor, false);
    }

   public <T extends ${tableName}> ${tableName}(T in) {
        convert(in);
    }

    public ${tableName}(final Cursor cursor, boolean prependTableName) {
        String prefix = prependTableName ? ${tableName}Table.TABLE_NAME + "_" : "";
        setRowId(cursor.getLong(cursor.getColumnIndex(prefix + ${tableName}Table._ID)));
#foreach ($field in $fields)
#if($field)
        set${field.getNameAsTitleCase()}(cursor.${field.getJavaTypeStringGetter()}(cursor.getColumnIndex(prefix + ${tableName}Table.${field.getConstantString()})));
#end
#end

#if( $participatingRelationships )
#foreach( $relationship in $participatingRelationships )
#set( $foreignKeyTitleCase = $relationship.getForeignKeyVariableAsTitleCase($table) )
#set( $foreignKeyConstant = $relationship.getForeignKeyNameForTable($table) )
#if( $foreignKeyTitleCase && $foreignKeyConstant)
        set${foreignKeyTitleCase}(cursor.getLong(cursor.getColumnIndex(prefix + ${tableName}Table.${foreignKeyConstant})));
#end
#end
#end
    }

    public ContentValues getContentValues() {
        if (mValues.size() == 0) {
            if(mRowId > 0) {
                mValues.put(${tableName}Table._ID, mRowId);
            }
#foreach ($field in $fields)
#if($field)
            mValues.put(${tableName}Table.${field.getConstantString()}, ${field.getPrivateVariableName()});
#end
#end
        }
        return mValues;
    }

    public Long getRowId() {
        return mRowId;
    }

    public ${tableName} setRowId(long _id) {
        mRowId = _id;
        mValues.put(${tableName}Table._ID, _id);
        return this;
    }
#foreach ($field in $fields)
#if($field)
    public ${tableName} set${field.getNameAsTitleCase()}(${field.getJavaTypeString()} ${field.getFieldName()}) {
        ${field.getPrivateVariableName()} = ${field.getFieldName()};
        mValues.put(${tableName}Table.${field.getConstantString()}, ${field.getFieldName()});
        return this;
    }

    public ${field.getJavaTypeString()} get${field.getNameAsTitleCase()}() {
            return ${field.getPrivateVariableName()};
    }


#end
#end

#if( $participatingRelationships )
#foreach( $relationship in $participatingRelationships )
#set( $foreignKeyTitleCase = $relationship.getForeignKeyVariableAsTitleCase($table) )
#set( $foreignKeyVariableName = $relationship.getForeignKeyVariableNameForTable($table) )
#set( $foreignKeyPrivateVariableName = $relationship.getForeignKeyPrivateVariableNameForTable($table) )
#set( $foreignKeyConstant = $relationship.getForeignKeyNameForTable($table) )
#if( $foreignKeyTitleCase )
    public ${tableName} set${foreignKeyTitleCase}(Long ${foreignKeyVariableName}) {
        ${foreignKeyPrivateVariableName} = ${foreignKeyVariableName};
        mValues.put(${tableName}Table.${foreignKeyConstant}, ${foreignKeyVariableName});
        return this;
    }

    public Long get${foreignKeyTitleCase}() {
            return ${foreignKeyPrivateVariableName};
    }

#end
#end
#end

    public static List<${tableName}> listFromCursor(Cursor cursor) {
        List<${tableName}> list = new ArrayList<${tableName}>();

        if (cursor != null && cursor.moveToFirst()) {
            do {
                list.add(new ${tableName}(cursor));
            } while (cursor.moveToNext());
        }

        return list;
    }


    public <T extends ${tableName}> void convert(T in) {
        setRowId(in.getRowId());

#foreach ($field in $fields)
#if($field)
        set${field.getNameAsTitleCase()}(in.get${field.getNameAsTitleCase()}());
#end
#end

#if( $participatingRelationships )
#foreach( $relationship in $participatingRelationships )
#set( $foreignKeyTitleCase = $relationship.getForeignKeyVariableAsTitleCase($table) )
#if( $foreignKeyTitleCase )
        set${foreignKeyTitleCase}(in.get${foreignKeyTitleCase}());
#end
#end
#end
    }

    public static ${tableName} get${tableName}ById(Context context, int id) {
        Cursor cursor = context.getContentResolver().query(${providerName}Provider.${tableConstantName}_CONTENT_URI, null, ${tableName}Table.WHERE_ID_EQUALS, new String[]{String.valueOf(id)}, null);
#set( $varName = $tableName.toLowerCase() )
        ${tableName} ${varName};
        if (cursor != null && cursor.moveToFirst()) {
            ${varName} = new ${tableName}(cursor);
        } else {
            ${varName} = new ${tableName}();
        }
        return ${varName};
    }

    @Override
    public String toString() {
        return "id:" + getRowId()

#foreach ($field in $fields)
#if($field)
               + " - ${field.getFieldName()}: " + get${field.getNameAsTitleCase()}()
#end
#end

#if( $participatingRelationships )
#foreach( $relationship in $participatingRelationships )
#set( $foreignKeyTitleCase = $relationship.getForeignKeyVariableAsTitleCase($table) )
#set( $foreignKey = $relationship.getForeignKeyNameForTable($table).toLowerCase() )
#if( $foreignKey )
               + " - ${foreignKey}: " + get${foreignKeyTitleCase}()
#end
#end
#end
               ;
    }
#if( $participatingRelationships )
#foreach( $relationship in $participatingRelationships )
#set( $foreignKeyTitleCase = $relationship.getForeignKeyVariableAsTitleCase($table) )
#set( $foreignKeyVariableName = $relationship.getForeignKeyVariableNameForTable($table) )
#set( $foreignKeyPrivateVariableName = $relationship.getForeignKeyPrivateVariableNameForTable($table) )
#set( $foreignKeyConstant = $relationship.getForeignKeyNameForTable($table) )
#if( $foreignKeyTitleCase )

    public List<${tableName}> get${tableName}sBy${foreignKeyTitleCase}(Context context, Long ${foreignKeyVariableName}) {
        Cursor cursor = context.getContentResolver().query(${providerName}Provider.${tableConstantName}_CONTENT_URI, null, ${tableName}Table.WHERE_${foreignKeyConstant}_EQUALS, new String[]{String.valueOf(${foreignKeyVariableName})}, null);
        return listFromCursor(cursor);
    }

#end
#end
#end


#if( $participatingExternalRelationships )
#foreach( $relationship in $participatingExternalRelationships )
#set( $foreignClassName = $relationship.getRightTableClassName() )
#set( $foreignClassConstant = $relationship.getRightTableConstantName() )
#set( $foreignKey = $relationship.getLeftTableForeignKey() )
#if( $foreignClassName )

    public List<${foreignClassName}> get${foreignClassName}s(Context context) {
        Cursor c = context.getContentResolver().query(${providerName}Provider.${foreignClassConstant}_CONTENT_URI, null, ${foreignClassName}Table.WHERE_${foreignKey}_EQUALS,new String[]{String.valueOf(getRemoteId())},null);
        return ${foreignClassName}.listFromCursor(c);
    }
#end
#end
#end




}