<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="false"
            category="com.android.ide.eclipse.wizards.category"
            class="de.mdsdacp.eclipse.plugin.wizard.ContentProviderWizard"
            hasPages="true"
            id="MDSDACP.wizard"
            name="Android Content Provider Model"
            project="false">
         <description>
            Generate an Android Content Provider over ecore
         </description>
      </wizard>
      <category
            id="com.android.ide.eclipse.wizards.category"
            name="Android">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <menu
               label="Android Tools">
            <command
                  commandId="MDSDACP.commands.generate"
                  label="Generate Content Provider"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
                  <with
                        variable="activeMenuSelection">
                     <iterate>
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                           <test
                                 forcePluginActivation="true"
                                 property="org.eclipse.core.resources.name"
                                 value="*.ecore">
                           </test>
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="mdsdacp.commands.category"
            name="MDSDACP Category">
      </category>
      <command
            categoryId="mdsdacp.commands.category"
            id="MDSDACP.commands.generate"
            name="Generate Android Content Provider">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.mdsdacp.eclipse.plugin.menu.GenerateHandler"
            commandId="MDSDACP.commands.generate">
      </handler>
   </extension>
   
   

</plugin>
